{{extend 'layout_orig.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <span style="float:left">{{=request.now.strftime("%H:%M:%S")}}</span>
  </div>
</div>
{{end}}

{{sensor=request.vars['sensor']
  title=request.vars['title']
}}

<table width="340" cellpadding="1" cellspacing="0" border="0" align="center">
  <tr>
    <td>{{=title}}</td>
    <td style="text-align:left">1</td>
    <td style="text-align:left">2</td>
    <td style="text-align:left">3</td>
  </tr>
 {{days_of_the_week = {0: "Mon", 1: "Tue", 2: "Wed", 3: "Thu", 4: "Fri", 5: "Sat", 6: "Sun", 7: "Daily"}
  for day in message.keys():}}
    <tr>
      <td>{{=days_of_the_week[day]}}</td>
      <td style="align:center"> {{if len(message[day]) > 0:}}
        <input id="{{=f'{request.vars["sensor"]}/{day}/0/1'}}" name="Hot Water" value='{{=message[day][0]["Time"][0:5]}}' style="width:50px;height:20px;align:center" >
        <br/>
        <input id="{{=f'{request.vars["sensor"]}/{day}/0/0'}}" name="Hot Water" value='{{=message[day][1]["Time"][0:5]}}' style="width:50px;height:20px;align:center" >
      {{pass}}
      </td>
      <td style="align:center"> {{if len(message[day]) > 2:}}
         <input id="{{=f'{request.vars["sensor"]}/{day}/1/0'}}" name="Hot Water" value='{{=message[day][0]["Time"][0:5]}}' style="width:50px;height:20px;align:center" >
         <br/>
         <input id="{{=f'{request.vars["sensor"]}/{day}/1/0'}}" name="Hot Water" value='{{=message[day][1]["Time"][0:5]}}' style="width:50px;height:20px;align:center" >
      {{pass}}
      </td>
      <td style="align:center"> {{if len(message[day]) > 4:}}
         <input id="{{=f'{request.vars["sensor"]}/{day}/2/1'}}" name="Hot Water" value='{{=message[day][0]["Time"][0:5]}}' style="width:50px;height:20px;align:center" >
         <br/>
         <input id="{{=f'{request.vars["sensor"]}/{day}/2/0'}}" name="Hot Water" value='{{=message[day][1]["Time"][0:5]}}' style="width:50px;height:20px;align:center" >
      {{pass}}
      </td>
    </tr>
  {{pass}}


</table>

<script>

    $( "input" ).on("change",
        function() {
            var state = 0;
            var regexp = /([01][0-9]|[02][0-3]):[0-5][0-9]/;
            var valid_time = ($(this).val().search(regexp) >= 0) ? true : false;
            if (valid_time) {
                var ident = $(this).attr("id")
                var details = ident.split("/")
                $.ajax({
                        url: "{{=URL('default', 'settrigger')}}",
                        data: { sensor: details[0], day: details[1], group: details[2], value: details[3], time: $(this).val()+":00" }
                       })
            }
            else {
                alert("Invalid time");
            };
            $(this).blur();
        }
    );

</script>